*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(netflix.jpg);
    
}

.header{
   
    background-color: black;
    display: flex;
}

